<div class="inner_page-banner"></div>
<div class="breadcrumb-agile">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</div>
<section class="about py-sm-5 py-4">
  <div class="container py-lg-5 py-sm-3">
    <div class="row">
      <div class="col-lg-6 inner-about">
        <h5 class="bottom mt-sm-4 mt-3">Este es tu perfil!</h5>
        <p class="">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni
          suscipit iusto, iure mollitia fugit error quas officia tempore
          similique sunt a eum quam sit alias eius incidunt nobis animi porro!
        </p>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-4">
        <img src="#" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
