<section class="stats py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      Nuestras Comparsas
    </h3>
    <div class="stats-info row text-center">
      <div class="col-lg-4 col-md-4 stats-grid stats-grid-1">
        <div class="register-left-w3pvt">
          <div class="stat-info pt-lg-3 pt-md-3 pt-sm-3 pt-3">
            <h4>Danza del Garabato</h4>
            <p class="mt-3">
              La danza del garabato caracteriza un enfrentamiento entre la vida
              y la muerte. La palabra garabato es el nombre dado a la guadaña ,
              que lleva colgadas unas cintas de colores rojo, amarillo y verde,
              y que llevan los integrantes masculinos de la danza.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 stats-grid stats-grid-2">
        <div class="register-left-w3pvt">
          <div class="stat-info pt-lg-3 pt-md-3 pt-sm-3 pt-3">
            <h4>Comparsa de las marimondas</h4>
            <p class="mt-3">
              Posee un disfraz creado en el que se busca burlarse de la clase
              alta y los funcionarios corruptos de la Barranquilla de antaño. Se
              dice que nació cuando un barranquillero, al no tener dinero para
              disfrazarse, se le ocurrió vestirse con un saco, una corbata y un
              pantalón viejos, puestos al revés y, como careta, un costal de
              harina al que le abrió tres agujeros, para burlarse del resto de
              sus conciudadanos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 stats-grid stats-grid-3">
        <div class="register-left-w3pvt">
          <div class="stat-info pt-lg-3 pt-md-3 pt-sm-3 pt-3">
            <h4>Danza de los monocucos</h4>
            <p class="mt-3">
              Esta danza tiene orígenes en el carnaval desde el año 1965. La
              palabra "monocuco" viene, según el historiador Alfredo de la
              Espriella, de los monos (el animal), quienes en la Barranquilla de
              antaño, mordían y lanzaban la comida que robaban de las personas.
              De allí viene la popular frase "Monocuco guayabero, saca presas
              del caldero, embustero y tramuyero".
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
