<div class="inner_page-banner"></div>
<app-details></app-details>
<section class="about py-sm-5 py-4">
  <div class="container py-lg-5 py-sm-3">
    <div class="row">
      <div class="col-lg-6 inner-about">
        <h5 class="bottom mt-sm-4 mt-3">Carnaval de Barranquilla!</h5>
        <p class="">
          El carnaval de Barranquilla es el evento folclórico y cultural más
          importante de Colombia.​ Cerca de 2 millones de personas, entre
          visitantes y locales, participan anualmente de la fiesta,​ que
          comienza el sábado anterior al Miércoles de Ceniza y termina el martes
          inmediatamente posterior. Otras actividades directamente relacionadas
          con el carnaval suceden durante buena parte del año. Los primeros
          registros sobre el carnaval de Barranquilla datan del siglo XIX.
        </p>
        <p>
          El carnaval de Barranquilla es un acontecimiento en el que se expresan
          todas las variedades culturales y el folclor de la Costa Caribe
          Colombiana, así como las más variadas manifestaciones locales, como la
          música popular y el baile. Son motivo de risas y sustos los muchos
          disfraces que invocan todo tipo de especies animales, nativas y
          extrañas; negros africanos; cabezones; dementes; muñecotas;
          superhéroes; seres mitológicos, que trascienden los límites de la
          sexualidad y la Muerte, entre un número casi interminable de
          invenciones y ocurrencias populares.
        </p>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-4">
        <img src="assets/reina.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<footer class="pt-2">
  <div class="container py-xl-4">
    <div class="row footer-top">
      <div class="col-md-5 footer-grid_section_1its">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-6">
            <h2 class="footer-title text-uppercase mb-lg-4 mb-3">About Us</h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit.Error sit
              antium dolorts remq hymue laud.
            </p>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-6 mt-lg-0 mt-md-4 mt-sm-0 mt-4">
            <h3 class="footer-title text-uppercase mb-lg-4 mb-3">Who We Are</h3>
            <p>
              Error sit antium dolorts remq hymue laud.Sed ut perspiciatis unde
              omnis iste natus error sit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-grid_section_1its my-md-0 my-5">
        <h3 class="footer-title text-uppercase mb-lg-4 mb-3">Contact Us</h3>
        <div class="contact-info">
          <div class="footer-style-w3ls">
            <h4 class="footer-title mb-2">Phone</h4>
            <p>+57 098 8907 9987</p>
          </div>
          <div class="footer-style-w3ls my-4">
            <h4 class="footer-title mb-2">Email</h4>
            <p><a>info@carnavalbarranquilla.com</a></p>
          </div>
          <div class="footer-style-w3ls">
            <h4 class="footer-title mb-2">Location</h4>
            <p>Barranquilla, Atlantico</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-grid_section_1its">
        <h3 class="footer-title text-uppercase mb-lg-4 mb-3">Newsletter</h3>
        <p>
          Be the first to get latest news and offers!<br />Sed ut perspiciatis
          unde omnis.
        </p>
        <!-- social icons -->
        <div class="agileinfo_social_icons mt-4">
          <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">
            Connect With Social
          </h3>
          <ul class="agileits_social_list list-unstyled">
            <li>
              <a href="#" class="w3_agile_facebook">
                <span class="fa fa-facebook-f"></span>
              </a>
            </li>
            <li class="mx-2">
              <a href="#" class="agile_twitter">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#" class="w3_agile_dribble">
                <span class="fa fa-dribbble"></span>
              </a>
            </li>
            <li class="ml-2">
              <a href="#" class="w3_agile_google">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
          </ul>
        </div>
        <!-- social icons -->
      </div>
    </div>
  </div>
</footer>
