<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
    <div class="row w3pvt-abt-info">
      <div class="col-lg-6 info-sub-w3 pb-lg-3 pb-md-2 pb-2">
        <div class="luxury-list-rom">
          <div class="rooms-w3pvt-left">
            <ul class="mb-2">
              <li>
                <h4>Guacherna</h4>
              </li>
              <li>
                <h6>230 $</h6>
              </li>
            </ul>
            <p>
              La guacherna es un desfile nocturno y el evento más importante de
              los precarnavales. Se realiza el penúltimo viernes antes del
              sábado de carnaval. En ella participan grupos folclóricos,
              cumbiambas, tamboras y disfraces a la luz de velas y faroles de
              colores.
            </p>
            <div class="outs_more-book">
              <a [routerLink]="['checkout/Guacherna']">Buy now</a>
            </div>
          </div>
          <div class="rooms-w3pvt-left">
            <ul class="mb-2">
              <li>
                <h4>Batalla de flores</h4>
              </li>
              <li>
                <h6>230 $</h6>
              </li>
            </ul>
            <p>
              El festejo empieza en firme el sábado de carnaval con la Batalla
              de Flores, primera de las cuatro jornadas de celebración, su acto
              central, el más importante y el más esperado. Es un gran desfile
              de carrozas, que encabeza la Reina del Carnaval, seguida de grupos
              folclóricos, disfraces, cumbiambas y comparsas, ganadoras de los
              concursos del carnaval anterior.
            </p>
            <div class="outs_more-book">
              <a [routerLink]="['checkout/Batalla de flores']">Buy now</a>
            </div>
          </div>
          <div class="rooms-w3pvt-left">
            <ul class="mb-2">
              <li>
                <h4>Gran Parada de Tradición</h4>
              </li>
              <li>
                <h6>230 $</h6>
              </li>
            </ul>
            <p>
              El segundo día de carnaval se lleva a cabo la Gran Parada de
              Tradición y Folclor, o simplemente Gran Parada, desfile instituido
              en 1967. En él solo se presentan grupos folclóricos tradicionales,
              cumbiambas y comparsas. La Gran Parada también se lleva a cabo en
              la Vía 40, pero no desfilan carrozas. Este desfile muestra a la
              danza y la música en su esencia más tradicional puesto que ya no
              hay carrozas ni grandes equipos de sonido que las distraigan.
            </p>
            <div class="outs_more-book">
              <a [routerLink]="['checkout/Gran Parada de Tradición']"
                >Buy now</a
              >
            </div>
          </div>
          <div class="rooms-w3pvt-left">
            <ul class="mb-2">
              <li>
                <h4>Muerte Joselito</h4>
              </li>
              <li>
                <h6>230 $</h6>
              </li>
            </ul>
            <p>
              A manera de cierre se lleva a cabo el entierro de Joselito
              Carnaval, el cual simboliza el fin de las festividades. En este
              día en muchos barrios de la ciudad se realizan jocosos "entierros"
              de Joselito, quien simboliza la alegría de las carnestolendas. Se
              dice entonces que el personaje "resucita" el sábado de carnaval y
              "muere" el último día cansado y "enguayabado" (con resaca) para
              "resucitar" nuevamente el año siguiente en el próximo carnaval.
            </p>
            <div class="outs_more-book">
              <a [routerLink]="['checkout/Muerte Joselito']">Buy now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 w3pvt-left-side-img">
        <img src="/../assets/carnaval2.jpeg" class="img-thumbnail" alt="" />
        <div class="row abt-sub-w3pvt-txt">
          <div class="col-sm-6 jst-wthree-text pl-0">
            <h5>Industria del carnaval</h5>
          </div>
        </div>
        <p>
          El Carnaval de Barranquilla a lo largo de toda su evolución ha tenido
          la financiación de la empresa pública y privada, además se destaca con
          la creación de las artesanías que en diversos géneros le dan
          vistosidad y elegancia a la fiesta, dándole un entramado de cultura y
          tradición, con la creación de suntuosos vestidos, creación de
          máscaras, disfraces, mochilas, instrumentos musicales, etcétera. Los
          artesanos provenientes de diferentes municipios se reúnen en ferias
          artesanales y comercializan sus productos. Sus creaciones artísticas
          son realizados en diferentes materiales: cerámica, madera, conchas,
          caracoles, fique, pita, bisutería, tela, lentejuelas, entre otros,
          donde se destaca lo característico de nuestra fiesta y nuestra región
          Caribe. Muchos de los productos originales alusivos al carnaval de
          Barranquilla se encuentran de venta en los diferentes almacenes de
          arte, misceláneas e incluso en puestos de venta ambulantes. Durante la
          temporada del carnaval estos productos son muy vendidos y forman parte
          del albor y dinámica comercial citadina. La variedad de productos es
          exótica, hay desde miniaturas de máscaras, muñecos y accesorios hasta
          lo más completo de disfraces, instrumentos musicales, adornos y
          utensilios para alegrar la fiesta carnavalera.
        </p>
        <div class="list-off-slider">
          <h5>Special Offer</h5>
        </div>
        <div class="row food-list-menu">
          <div class="col-lg-4 col-md-4 col-sm-4 food-items-slider">
            <img src="assets/mascara.jpeg" class="img-thumbnail" alt="" />
            <div class="slider-room-info pt-md-3 pt-2">
              <h6 class="pb-2">Mascaras</h6>
              <p>
                Diferentes mascaras de comparsas representativas del carnaval de
                Barranquilla.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 food-items-slider">
            <img src="assets/marimonda.jpg" class="img-thumbnail" alt="" />
            <div class="slider-room-info pt-md-3 pt-2">
              <h6 class="pb-2">Disfraz Marimonda</h6>
              <p>
                Es la mezcla de un primate y un elefante, representa el espíritu
                de un hombre fiestero barranquillero.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 food-items-slider">
            <img src="assets/espuma.jpg" class="img-thumbnail" alt="" />
            <div class="slider-room-info pt-md-3 pt-2">
              <h6 class="pb-2">Espuma de Carnaval</h6>
              <p>
                La espuma de cotillón que mucha gente la usa para divertirse en
                carnavales.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
