.w3pvt-left-side-img p,
.rooms-w3pvt-left p {
  font-size: 14px;
  color: #000;
  line-height: 28px;
}
.rooms-w3pvt-left ul li {
  display: inline-block;
  margin-right: 47px;
  letter-spacing: 2px;
}
.outs_more-book a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #0a63bd;
  outline: none;
  font-weight: 500;
  padding: 9px 17px;
  border: 1px solid #d4d4d4;
  margin-top: 17px;
}
.outs_more-book a:hover {
  opacity: 0.8;
  color: #fff;
}
