<div class="inner_page-banner"></div>
<app-details></app-details>
<div class="cont-bg">
  <div class="row wrap">
    <div class="cnt-mn">
      <div class="ser-main">
        <div class="cnt-h">
          <h4>Most Visit</h4>
        </div>
        <div class="ser-grid-list">
          <a [routerLink]="['detalles']">
            <h4>Sed nec eros a nulla</h4>
            <img src="assets/comparsa.jpg" alt="" />
            <p>
              Lorem dapibus in magna. Nunc easi diam risus, placerat ut
              scelerisque et, sus cipit eu ante. Nullam vitae dolor ullcper
              felises.
            </p>
            <div class="ser-rdmore"><a href="#">ReadMore</a></div>
          </a>
        </div>
        <div class="ser-grid-list">
          <a [routerLink]="['detalles']">
            <h4>Donec imperdiet eled</h4>
            <img src="assets/comparsa.jpg" alt="" />
            <p>
              Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc
              easi diam risus, placerat ut scelerisque et, sus cipit eu ante.
              Nullam vitae.
            </p>
            <div class="ser-rdmore"><a href="#">ReadMore</a></div>
          </a>
        </div>
        <div class="ser-grid-list1">
          <a [routerLink]="['detalles']">
            <h4>Aliquam ut vehicula</h4>
            <img src="assets/comparsa.jpg" alt="" />
            <p>
              Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc
              easi diam risus, placerat ut scelerisque et, sus cipit eu ante.
              Nullam vitae
            </p>
            <div class="ser-rdmore"><a href="#">ReadMore</a></div>
          </a>
        </div>
        <div class="clear"></div>
        <div class="ser-grid-list">
          <a [routerLink]="['detalles']">
            <h4>Donec imperdiet eled</h4>
            <img src="assets/comparsa.jpg" alt="" />
            <p>
              Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc
              easi diam risus, placerat ut scelerisque et, sus cipit eu ante.
              Nullam vitae dolor ullcper felises cursus
            </p>
            <div class="ser-rdmore"><a href="#">ReadMore</a></div>
          </a>
        </div>
        <div class="ser-grid-list">
          <a [routerLink]="['detalles']">
            <h4>Sed nec eros a nulla</h4>
            <img src="assets/comparsa.jpg" alt="" />
            <p>
              Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc
              easi diam risus, placerat ut scelerisque et, sus cipit eu ante.
              Nullam vitae dolor ullcper felises cursus
            </p>
            <div class="ser-rdmore"><a href="#">ReadMore</a></div>
          </a>
        </div>
        <div class="ser-grid-list1">
          <a [routerLink]="['detalles']">
            <h4>Aliquam ut vehicula</h4>
            <img src="assets/comparsa.jpg" alt="" />
            <p>
              Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc
              easi diam risus, placerat ut scelerisque et, sus cipit eu ante.
              Nullam vitae dolor ullcper felises cursus
            </p>
            <div class="ser-rdmore"><a href="#">ReadMore</a></div>
          </a>
        </div>
        <div class="clear">
          <button class="btn btn-primary" [swal]="deleteSwal">
            Crear nuevo Post
          </button>
          <swal
            #deleteSwal
            title="Escribe tu post"
            [showCancelButton]="true"
            [focusCancel]="true"
            input="post"
          >
          </swal>
        </div>
      </div>
      <div class="cnt-btm-right">
        <div class="cnt-h">
          <h4>Recent Update</h4>
        </div>
        <div class="row cont-right-grid">
          <div class="blog1 ser-num">
            <a href="#">1</a>
          </div>
          <div class="ser-para">
            <span
              >Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem pix</span
            >
            <p>
              Sed nisi turpis, pellentesque at ultrices in, dapibuspellentesque
              at ultrices in, dapibus in magna. Nunc easi diam risus, placerat
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row cont-right-grid">
          <div class="blog1 ser-num">
            <a href="#">2</a>
          </div>
          <div class="ser-para">
            <span
              >Contrary to popular belief, Lorem Ipsum is not simply random
              text. It has roots a piece</span
            >
            <p>
              Sed nisi turpis, pellentesque at ultrices in, dapibuspellentesque
              at ultrices in, dapibus in magna. Nunc easi diam risus, placeratt
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row cont-right-grid">
          <div class="blog1 ser-num">
            <a href="#">3</a>
          </div>
          <div class="ser-para">
            <span
              >There are many variations of passages of Lorem Ipsum available,
              but the majoritye</span
            >
            <p>
              Sed nisi turpis, pellentesque at ultrices in, dapibuspellentesque
              at ultrices in, dapibus in magna. Nunc easi diam risus, placerat
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row cont-right-grid">
          <div class="blog1 ser-num">
            <a href="#">4</a>
          </div>
          <div class="ser-para">
            <span
              >There are many variations of passages of Lorem Ipsum available,
              but the majoritye</span
            >
            <p>
              Sed nisi turpis, pellentesque at ultrices in, dapibuspellentesque
              at ultrices in, dapibus in magna. Nunc easi diam risus, placerat
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row cont-right-grid">
          <div class="blog1 ser-num">
            <a href="#">5</a>
          </div>
          <div class="ser-para">
            <span
              >There are many variations of passages of Lorem Ipsum available,
              but the majoritye</span
            >
            <p>
              Sed nisi turpis, pellentesque at ultrices in, dapibuspellentesque
              at ultrices in, dapibus in magna. Nunc easi diam risus, placerat
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row cont-right-grid">
          <div class="blog1 ser-num">
            <a href="#">6</a>
          </div>
          <div class="ser-para">
            <span
              >There are many variations of passages of Lorem Ipsum available,
              but the majoritye</span
            >
            <p>
              Sed nisi turpis, pellentesque at ultrices in, dapibuspellentesque
              at ultrices in, dapibus in magna. Nunc easi diam risus, placerat
            </p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
