<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="slider item">
    <div class="container">
      <div class="slider-info">
        <h5 style="color: white;">Carnaval de Barranquilla</h5>
        <div class="bottom-info">
          <p>
            El evento folclórico y cultural más importante de Colombia.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/carnaval.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../assets/carnaval2.jpeg" class="d-block w-100" alt="..." />
    </div>
  </div>
</div>
<app-body-part1></app-body-part1>
<app-body-part2></app-body-part2>
<app-body-part3></app-body-part3>
<app-body-part4></app-body-part4>
